---
layout: default
title: TOP
---
<section class="hero">
    <div class="hero-text">
        <h1>インテイク</h1> 
        <p>非公式information</p>
    </div>
    <a href="#live-info" class="scroll-down"><span>Scroll</span></a>
</section>

{% include banner_slider.html %}

{% include live_info_section.html %}

{% include streaming_section.html %}

{% include ticket_section.html %}

{% include news_section.html %}

<section class="content-section animate-on-scroll">
  <h2 class="section-title animate-on-scroll">RADIO</h2>
  <!-- ⬇️ここ2行を変更 -->
  <style> .standfm-embed-iframe { height: 190px; } @media only screen and (max-device-width: 480px) { .standfm-embed-iframe { height: 230px; } } </style>
  <iframe src="https://stand.fm/embed/episodes/690844f164db7c3eeb3a3b38" class="standfm-embed-iframe" width="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <div class="view-more animate-on-scroll">
    <a href="https://stand.fm/channels/6030fcec85b142d0d89e72df">MORE ></a>
  </div>
</section>

{% include video_section.html %}

<section class="content-section animate-on-scroll">
  <h2 class="section-title">SCHEDULE</h2>

  <div class="calendar-wrapper">
    <script async id='calinc-mem262284-height1000' type="text/javascript" src="//freecalend.com/jstac/calinc.js"></script>
  </div>

</section>