<header class="header">
    <div class="logo">
      <a href="{{ site.baseurl }}/" style="text-decoration: none; color: #fff;">インテイク非公式information</a>
    </div>
    <div class="nav">
      <input id="drawer_input" class="drawer_hidden" type="checkbox">
      <label for="drawer_input" class="drawer_open"><span></span></label>
      <nav class="nav_content">
        <ul class="nav_list">
          <li class="nav_item"><a href="{{ site.baseurl }}/">HOME</a></li>
          <li class="nav_item"><a href="{{ site.baseurl }}/#profile">PROFILE</a></li>
          <li class="nav_item"><a href="{{ site.baseurl }}/#news">NEWS</a></li>
          <li class="nav_item"><a href="{{ site.baseurl }}/ticket.html">TICKET</a></li>
          <li class="nav_item"><a href="#">MEDIA</a></li>
        </ul>
      </nav>
    </div>
  </header>