<header class="header">
    <div class="logo">
      <a href="{{ site.baseurl }}/" style="text-decoration: none; color: #333;">My Fan Club</a>
    </div>
    <div class="nav">
      <input id="drawer_input" class="drawer_hidden" type="checkbox">
      <label for="drawer_input" class="drawer_open"><span></span></label>
      <nav class="nav_content">
        <ul class="nav_list">
          <li class="nav_item"><a href="{{ site.baseurl }}/">ホーム</a></li>
          <li class="nav_item"><a href="{{ site.baseurl }}/ticket.html">チケット</a></li>
          <li class="nav_item"><a href="#">グッズ</a></li>
        </ul>
      </nav>
    </div>
  </header>