{% comment %} --- 変数定義 --- {% endcomment %}
{% assign now_seconds = "now" | date: "%s" | plus: 0 %}
{% assign seven_days_seconds = 60 | times: 60 | times: 24 | times: 7 %}
{% assign eight_days_seconds = 60 | times: 60 | times: 24 | times: 8 %}

{% comment %} --- 配信中のライブを絞り込む --- {% endcomment %}
{% assign streaming_now = "" | split: "," %}
{% for live in site.data.lives %}
  {% if live.streaming_url %}
    {% assign live_start_seconds = live.date | date: "%s" | plus: 0 %}

    {% if live.streaming_end_date %}
      {% assign end_of_day_string = live.streaming_end_date | append: " 23:59:59" %}
      {% assign live_end_seconds = end_of_day_string | date: "%s" | plus: 0 %}
    {% else %}
      {% assign live_end_seconds = live_start_seconds | plus: eight_days_seconds | plus: 0 %}
    {% endif %}
    
    {% if now_seconds >= live_start_seconds and now_seconds < live_end_seconds %}
      {% assign streaming_now = streaming_now | push: live %}
    {% endif %}
  {% endif %}
{% endfor %}

{% comment %} --- HTML表示エリア --- {% endcomment %}
{% if streaming_now.size > 0 %}
<section class="content-section">
  <div class="live-info-box now-streaming">
    <div class="scroller-header">
      <h2>NOW STREAMING</h2>
      <div class="scroller-pagination" id="streaming-now-pagination"></div>
    </div>
    <div class="live-details" id="streaming-now-scroller">
      {% for live in streaming_now %}
        <div class="live-card">
          <div class="card-body">
              <span class="card-swipe-prompt-l"><i class="fas fa-angle-double-left"></i></span>
              <div class="card-detail">
                <h3>{{ live.title }}</h3>
          
                {% if live.streaming_end_date %}
                  {% assign end_date_formatted = live.streaming_end_date | date: "%Y年%m月%d日" %}
                  <p><i class="fa-solid fa-clock"></i> 視聴終了: {{ end_date_formatted }} 23:59</p>
                  <p><i class="fa-solid fa-ticket"></i> 販売終了: {{ end_date_formatted }} 23:59</p>
                {% else %}
                  {% assign end_date_seconds = live.date | date: "%s" | plus: seven_days_seconds %}
                  {% assign end_date_formatted = end_date_seconds | date: "%Y年%m月%d日" %}
                  <p><i class="fa-solid fa-clock"></i> 視聴終了: {{ end_date_formatted }} 23:59</p>
                  <p><i class="fa-solid fa-ticket"></i> 販売終了: {{ end_date_formatted }} 12:00</p>
                {% endif %}
              </div>
              <span class="card-swipe-prompt-r"><i class="fas fa-angle-double-right"></i></span>
            </div>
            <div class="card-footer">
                <a href="{{ live.url }}" class="button">配信はこちら</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}