<section class="content-section animate-on-scroll">
  <h2 class="section-title animate-on-scroll">VIDEO</h2>

    <div class="video-tab-container">

    <ul class="video-tabs">
        <li class="tab-item is-active" data-tab="sakitabe">崎食あそ美</li>
        <li class="tab-item" data-tab="mekz">まえかずのヨロズヤ</li>
        <li class="tab-item" data-tab="pickup">おすすめ</li>
    </ul>

    <div class="video-panels">

        <!-- 崎食あそ美の動画 -->
        <div class="panel-item is-visible" id="sakitabe">
            <p>最新動画：</p>
            <div class="video-size">
                <!-- ⬇️ここを変更 -->
               <iframe width="560" height="315" src="https://www.youtube.com/embed/lvPA35YWSCE?si=2n0B8czDNkxh-yO9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="view-more animate-on-scroll">
                <a href="https://youtube.com/@sakitabe?si=6-xBTv6yfRwvh69r">MORE ></a>
            </div>
        </div>

        <!-- よろずやちゃんねるの動画 -->
        <div class="panel-item" id="mekz">
            <p>最新動画：</p>
            <div class="video-size">
                <!-- ⬇️ここを変更 -->
                <iframe  src="https://www.youtube.com/embed/MYWnKGNcX7k?si=ecd-pFZ8RqQJNmTX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="view-more animate-on-scroll">
                <a href="https://youtube.com/@int_maekz1222?si=D4tqAXtYLiodRN9y">MORE ></a>
            </div>      
        </div>

        <div class="panel-item" id="pickup">
          <div class="swiper-container pickup-swiper">
            <div class="swiper-wrapper">
              
              {% for video in site.data.videos.recommend %}
              <div class="swiper-slide">
                <p>{{video.comment}}</p>
                <div class="video-size">
                  <iframe src="https://www.youtube.com/embed/{{ video.id }}" title="{{ video.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
              {% endfor %}
              
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          
        </div>
    </div>
</section>