/* スマホ表示（画面幅が768px未満）の時の調整 */
@media (max-width: 767px) {
  /* トップページ */
  .logo a {
    font-size: 1.2rem;
  }
  .hero {
    height: 50vh;
  }
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .live-info-wrapper {
    /* 左右の余白を確保 */
    /*padding: 0 15px;*/
    overflow: clip; 
    flex-direction: column;
  }
  .live-info-box {
    /*min-width: 0; PC用のmin-widthをリセット */
    width: 100%;   /*ボックスの幅を親要素の100%に強制する*/
  }
  .live-card p {
    color:#fffef6d0;
    font-size: 0.8rem;
  }
  
  .live-card h3 {
    margin: 0; 
    padding: 0; 
    border: none;
    letter-spacing: 0.8px;
    font-size: 15px
  }

  /* liveページ */
  .live-date {
    width: 70px;
    padding-right: 10px;
  }
  .live-date .day {
    font-size: 1.0rem;
  }
  .live-title {
    font-size: 0.9rem;
  }
  .live-meta {
    font-size: 0.8rem; /* 文字サイズを少し小さくして一行に収める */
  }

  .live-details {
    gap: 20px; /* カード間の余白はpaddingでなくgapで指定 */
  }
  .live-details .live-card {
    padding-right: 0; /* カード右側の余白をなくす */
    scroll-snap-align: start; /* スナップ位置を中央から左端に変更 */
  }

   /* スクロール位置のページ番号表示が折り返さないようにする */
  .scroller-pagination {
    white-space: nowrap; /* テキストの折り返しを禁止する */
    font-size: 1rem;     /* 文字サイズを少しだけ調整 */
  }
    .main-live-details-box {
    /* ボックス全体の左右の余白を25pxから15pxに狭める */
    padding-left: 10px;
    padding-right: 10px;
  }

  .next-event-list .button {
    /* ボタン内の文字サイズを小さくする */
    font-size: 0.8rem;
    /* 文字の行間も少し詰める */
    line-height: 1.5;
    /* 上下の余白も少し詰める */
    padding-top: 12px;
    padding-bottom: 12px;
  }

  /* profile ページ */
  .duo-profile-section{
    flex-direction: column;
    text-align: center;
  }
  .member-card {
    flex-direction: row;
    text-align: center;
  }
  .duo-links, .social-links {
    justify-content: center;
  }
  .member-profile-section {
    grid-template-columns: 1fr;
  }

  .live-details-sidebar {
    border-left: none;
    padding-left: 0;
    margin-top: 30px;
  }
  .live-description {
    padding-right: 0;
  }
}













