---
layout: default
---
<div class="content-section">
  <h1 class="section-title">NEWS | {{ page.category_name }}</h1>

  {% include category_links.html %}

  <ul class="news-list">
    {% assign category_posts = site.news | where: "category", page.category_name %}
    {% for item in category_posts %}
      <li class="animate-on-scroll">
        <a href="{{ item.url | relative_url }}">
          <span class="date">{{ item.date | date: "%Y.%m.%d" }}</span>
          <span class="category">{{ item.category }}</span>
          <span class="title">{{ item.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>